{% extends "base.html" %}

{% load i18n %}
{% load l10n %}
{% load static %}
{% load money %}

{% block title %}
    <title>{{ title }} - WebCount</title>
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/detail.css' %}">
{% endblock %}

{% block header %}
    <h1>{{ title }}</h1>
    <p class="members">{% for member in memberships %}
        {{ member }}{% if not forloop.last %}, {% endif %}
    {% endfor %}</p>
    <nav class="nav">
        <label for="expenses"><input type="radio" id="expenses" name="menu" checked>{% trans "Expenses" %}
        </label>
        <label for="balances"><input type="radio" id="balances" name="menu">{% trans "Balances" %}</label>
    </nav>
{% endblock %}

{% block content %}
    <div class="expenses">
        {% for expense in expenses %}
            {% if expense.type == "EXPENSE" %}
                <details class="expense">
                    <summary class="summary">
                        <span class="title">{{ expense.description }}</span>
                        <span class="amount">{% format_money expense.amount currency %}</span>
                        <span class="owner">{% trans "paid by" %} <strong>{{ expense.owner }}</strong></span>
                        <span class="date">{{ expense.date|date:"d/m/Y" }}</span>
                    </summary>
                    <div class="details{% if expense.allocations_have_ratio %} details-with-ratio{% endif %}">
                        {% for allocation in expense.allocations %}
                            <div class="allocation">
                                <span>{{ allocation.name }}</span>
                                <span></span> {# gap #}
                                <span class="allocation-amount">{% format_money allocation.amount currency %}</span>
                                {% if expense.allocations_have_ratio %}
                                    <span class="allocation-ratio">{% if allocation.ratio %}
                                        {# Translation of values spanning multiple lines seems to not work. To avoid reformatting to move blocks, formatting is disabled here #}
                                        {# @formatter:off #}
                                    {% blocktrans count ratio=allocation.ratio %}1 share{% plural %}{{ ratio }} shares{% endblocktrans %}
                                    {# @formatter:on #}
                                    {% endif %}</span>
                                {% endif %}
                            </div>
                        {% endfor %}
                    </div>
                </details>
            {% else %}
                <div class="refund">
                    <div class="summary">
                        <span class="title">{% trans "Reimbursement" %}</span>
                        <span class="amount">{% format_money expense.amount currency %}</span>
                        <span class="owner">
                            {% trans "paid by" %}
                            <strong>{{ expense.owner }}</strong>
                            {% trans "for" %}
                            <strong>{{ expense.target }}</strong>
                        </span>
                        <span class="date">{{ expense.date|date:"d/m/Y" }}</span>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
    <div class="balances">
        <table>
            <thead>
            <tr>
                <th class="left">{% trans "Name" %}</th>
                <th class="right">{% trans "Total cost" %}</th>
                <th class="right">{% trans "Balance" %}</th>
            </tr>
            </thead>
            <tbody>
            {% for member in balance.summary %}
                <tr>
                    <td>{{ member.name }}</td>
                    <td class="numeric">{% format_money member.total currency %}</td>
                    <td class="numeric {% if member.balance > 0.1 %}creditor{% elif member.balance < -0.1 %}debtor{% else %}neutral{% endif %}">
                        <strong>{% format_money member.balance currency %}</strong>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <h3>{% trans "Reimbursements" %}</h3>
        {% for refund in balance.refunds %}
            <div class="refund-transaction">
                <span class="refund-owner">{{ refund.owner }}</span>
                <span class="refund-to">{% trans "owns to" %}</span>
                <span class="refund-target">{{ refund.target }}</span>
                <span class="refund-amount">{% format_money refund.amount currency %}</span>
            </div>
        {% empty %}
            <div class="all-balanced">{% trans "Everything is good!" %}</div>
        {% endfor %}
    </div>
{% endblock %}
