{% load i18n %}
{% load l10n %}
{% load static %}
{% load money %}
{% get_current_language as LANGUAGE_CODE %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
<head>
    <meta charset="UTF-8">
    <title>{{ title }} - WebTricount</title>
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'css/detail.css' %}">
</head>
<body>
<header>
    <div class="header-inner">
        <h1>{{ title }}</h1>
        <p class="members">{% for member in memberships %}
            <span>{{ member }}</span>
        {% endfor %}</p>
    </div>
</header>
<div class="expenses">
    {% for expense in expenses %}
        {% if expense.type == "EXPENSE" %}
            <details class="expense">
                <summary class="summary">
                    <span class="title">{{ expense.description }}</span>
                    <span class="amount">{% format_money expense.amount currency %}</span>
                    <span class="owner">{% trans "paid by" %} <strong>{{ expense.owner }}</strong></span>
                    <span class="date">{{ expense.date|date:"d/m/Y" }}</span>
                </summary>
                <div class="details{% if expense.allocations_have_ratio %} details-with-ratio{% endif %}">
                    {% for allocation in expense.allocations %}
                        <div class="allocation">
                            <span>{{ allocation.name }}</span>
                            <span></span> {# gap #}
                            <span class="allocation-amount">{% format_money allocation.amount currency %}</span>
                            {% if expense.allocations_have_ratio %}
                                <span class="allocation-ratio">{% if allocation.ratio %}
                                    {% blocktrans count ratio=allocation.ratio %}1 share{% plural %}{{ ratio }} shares{% endblocktrans %}
                                {% endif %}</span>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
            </details>
        {% else %}
            <div class="refund">
                <div class="summary">
                    <span class="title">{{ expense.description }}</span>
                    <span class="amount">{% format_money expense.amount currency %}</span>
                    <span class="owner">{% trans "paid by" %} <strong>{{ expense.owner }}</strong> {% trans "for" %} <strong>{{ expense.target }}</strong></span>
                    <span class="date">{{ expense.date|date:"d/m/Y" }}</span>
                </div>
            </div>
        {% endif %}
    {% endfor %}
</div>
</body>
</html>
