:root {
    --max-width: 500px;
}

header {
    background-color: #3493d5;
    color: white;
    padding: 0.5rem;
    display: grid;
    gap: 0.5rem;
}

.header-inner {
    max-width: var(--max-width);
    margin: auto
}

.members span:not(:last-child)::after {
    content: ", "
}

.expenses {
    max-width: var(--max-width);
    margin: auto;
    border: 1px solid grey;
    border-top: none;
}

.expense {
    padding: 0.5rem;
}

.expense-summary {
    cursor: pointer;
    padding-bottom: 0.5rem;
    display: grid;
    grid-template:
        "title amount"
        "owner date";
    gap: 0.25rem;
}

.expense-title, .expense-amount {
    font-size: 1.125rem;
}

.expense-date, .expense-owner {
    font-size: 0.875rem;
}

.expense-amount, .expense-date {
    justify-self: end;
}

.expense-details {
    padding-top: 0.5rem;
    border-top: 1px dashed grey;
    display: grid;
    gap: 0.25rem;
}

.expense-allocation {
    display: flex;
    justify-content: space-between;
}

.expense:not(:last-child) {
    border-bottom: 1px solid grey;
}
