:root {
    --max-width: 500px;
}

header {
    background-color: #3493d5;
    color: white;
    padding: 0 0.5rem;
    display: grid;
    gap: 0.5rem;
}

.header-inner {
    max-width: var(--max-width);
    width: 100%;
    margin: auto
}

.header-inner h1 {
    margin-top: 0.5rem;
}

.expenses, .balances {
    display: none;
}

header:has(#expenses:checked) ~ .expenses,
header:has(#balances:checked) ~ .balances {
    display: block;
}

.nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.nav label {
    padding: 0.5rem;
    display: grid;
    place-items: center;
    font-size: 1.5rem;
    cursor: pointer;
}

.nav label:not(:has(input:checked)) {
    opacity: 0.6;
}

.nav label:has(input:checked) {
    box-shadow: inset 0 -3px orange;
}

.nav label input {
    appearance: none;
}

.expenses, .balances {
    max-width: var(--max-width);
    margin: auto;
    border: 1px solid grey;
    border-top: none;
}

.expense, .refund {
    padding: 0.5rem;
}

.expense .summary {
    cursor: pointer;
}

.summary {
    display: grid;
    grid-template:
        "title amount"
        "owner date";
    gap: 0.25rem;
}

.expense[open] .summary {
    padding-bottom: 0.5rem;
}

.title, .amount {
    font-size: 1.125rem;
}

.date, .owner {
    font-size: 0.875rem;
}

.amount, .date {
    justify-self: end;
}

.date {
    opacity: 0.6;
}

.amount, .allocation-amount, .numeric {
    font-variant-numeric: tabular-nums;
}

.refund .amount {
    color: darkgreen;
}

@media (prefers-color-scheme: dark) {
    .refund .amount {
        color: lightgreen;
    }
}

.details {
    padding-top: 0.5rem;
    border-top: 1px dashed grey;
    display: grid;
    gap: 0.25rem;
}

.allocation {
    display: flex;
    justify-content: space-between;
}

.details-with-ratio .allocation {
    display: grid;
    grid-template-columns: auto 1fr auto 4rem;
    gap: 0.5rem;
}

.allocation-amount, .allocation-ratio {
    text-align: right;
}

.allocation-ratio {
    opacity: 0.6
}


.expense:not(:last-child), .refund:not(:last-child) {
    border-bottom: 1px solid grey;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.balances table {
    width: 100%;
    padding: 0.5rem;
}

.balances table thead tr th {
    font-weight: bold;
}

.balances table tr {
    line-height: 1.5rem;
}

.numeric {
    text-align: right;
}

.creditor {
    color: forestgreen;
}

@media (prefers-color-scheme: dark) {
    .creditor {
        color: lightgreen;
    }
}

.debtor {
    color: mediumvioletred;
}

@media (prefers-color-scheme: dark) {
    .debtor {
        color: orangered;
    }
}

.neutral {
    opacity: 0.6;
}

.balances h3 {
    background-color: lightgray;
    padding: 0.5rem;
}


@media (prefers-color-scheme: dark) {
    .balances h3 {
        background-color: #333;
    }
}

.refund-transaction {
    padding: 0.5rem;
    display: grid;
    gap: 0.125rem;
    grid-template:
        "owner amount"
        "to amount"
        "target amount";
}

.refund-transaction:not(:last-child) {
    border-bottom: 1px solid grey;
}

.refund-owner, .refund-target {
    font-size: 1.125rem;
}

.refund-to {
    opacity: 0.6;
}

.refund-amount {
    font-size: 1.25rem;
    grid-area: amount;
    place-self: center end;
}
